/* # USAGE #
  .monkee {
    @include clearfix;
  }
*/
/* # USAGE #
  .monkee {
    @include transition-custom(timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
  }
*/
/* # USAGE #
  .visuallyhidden {
    @include visuallyhidden;
  }
*/
/* # USAGE #
  .icon {
    @include pseudo-elements(before, 1.56em, .125em) {
      background: #333;
      top: .25em;
    }
  }
*/
/* # USAGE #
  $large: "(min-width: 1024px)";

  header {
    @include breakpoint($large){
      width: 100%;
      margin: 5em 0;
    }
  }
*/
/* Functions */
#header {
  display: none;
}

.wufoo li {
  margin-bottom: 20px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wufoo li span label {
  font-size: 12px;
}
.wufoo label.desc {
  font-size: 14px;
}
.wufoo input[type=text],
.wufoo input[type=tel],
.wufoo input[type=email],
.wufoo textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 4px solid #ececec;
  padding: 8px 10px;
  margin-bottom: 2px;
  background: #ececec;
  color: #272432;
  outline: none;
  -webkit-transition: border 0.2s ease, background 0.2s ease;
  -moz-transition: border 0.2s ease, background 0.2s ease;
  -ms-transition: border 0.2s ease, background 0.2s ease;
  -o-transition: border 0.2s ease, background 0.2s ease;
  transition: border 0.2s ease, background 0.2s ease;
}
.wufoo input[type=text]:focus,
.wufoo input[type=tel]:focus,
.wufoo input[type=email]:focus,
.wufoo textarea:focus {
  outline: none;
  background-color: #fbfbfb;
  border-color: #8ccedc;
}
.wufoo select, .safari .wufoo select {
  display: block;
  border: 4px solid #ececec;
  background: #ececec;
  color: #272432;
  padding: 8px 10px;
  height: 36px;
  font-size: 13px !important;
}
.wufoo select:focus, .safari .wufoo select:focus {
  outline: none;
  background-color: #8ccedc;
  border-color: #8ccedc;
  color: #fff;
}
.wufoo input[type=submit] {
  display: block;
  width: 100%;
  max-width: 232px;
  padding: 13px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: #8ccedc;
  color: #272432;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.wufoo input[type=submit]:hover, .wufoo input[type=submit]:focus {
  background-color: #d0f1f7;
}
.wufoo .name-field > span {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding-right: 5px;
  margin: 0;
  width: 50%;
}
.wufoo .name-field > span:last-child {
  padding-right: 0;
  padding-left: 5px;
}
.wufoo .checkbox-field label {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.25;
  padding-left: 3.125em;
  margin: 0;
  cursor: pointer;
}
.wufoo .checkbox-field label:before, .wufoo .checkbox-field label:after {
  content: "";
  position: absolute;
}
.wufoo .checkbox-field label:before {
  width: 30px;
  height: 30px;
  background-color: #ececec;
  border: 3px solid #ececec;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.wufoo .checkbox-field label:after {
  width: 24px;
  height: 24px;
  top: 6px;
  left: 6px;
  background-color: #8ccedc;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
.wufoo .checkbox-field input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}
.lt-ie9 .wufoo .checkbox-field input {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0;
  left: 0;
}
.wufoo .checkbox-field input:checked ~ label:before {
  background-color: #fff;
  border-color: #8ccedc;
}
.wufoo .checkbox-field input:checked ~ label:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.wufoo .buttons {
  padding: 0;
}
