{% include '_header.twig' %}

  <div class="row">
    <div class="main-content">
      <div class="page-icon">
        <img src="{{ paths.theme ~ 'images/pageicon-' ~ record.pageicon|replace(' ', '-')|lower }}.png" alt="{{ record.pageicon }}">
      </div>
      <h1 class="page-title">{{ record.title }}</h1>
      {{ record.body }}
    </div><!-- /.main-content -->
  </div>



    {% include '_footer.twig' %}
